
 <div style="width: 40%;float:left">
        <div class="container">
          <div class="Introduction">
            <h1>Bucketlist</h1>
            <p>Welcome back to your bucketlist.<br> Have fun! <br> You Only Live Once!</p>
          </div>

        </div>

    </div>
    <div style="width: 50%; float:right">
    <h2>Sign Up!</h2>
    <alert-app></alert-app>
      <div class="signup_container">
          <form name="form"  #f="ngForm" (submit)="register()" novalidate>
                <label for email = "email"><b>Email</b></label>
                <input type="text" [(ngModel)]="email"  placeholder="Enter Email" name="email" required>

                <label for password = "password"><b>Password</b></label>
                <input type="password" [(ngModel)]="password"  placeholder="Enter Password" name="psw" required>

                <button type="submit" >Sign up</button>
                <p>Already have an account?<a href="/login">Click Here</a></p>
            </form>
          </div>
    </div>

    <!--end of form-->
   
