
body {
  padding-top: 50px;
  /*margin: 0;*/
  background-color: lightblue;
  
}
.Introduction {
  padding: 40px 15px;
  /*text-align: left;*/
}

form {
    /*border: 4px solid #f1f1f1;*/
    display: inline-block;
    /*text-align: right;*/
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.signup_container {
    /*padding: 20px;*/
    /*float: left;*/
}

span.psw {
    float: left;
    padding-top: 16px;
}
