    <nav-app></nav-app>
    <div style="width: 40%;float:left;">
        <div class="container">
          <div class="Introduction">
            <h1>Bucketlist</h1>
            <h4>Welcome back to your bucketlist.<br> Have fun! <br> You Only Live Once!</h4>
          <br>
          <br>
          <br>
          <br>

          <h4>My message, especially to young people is to have courage <br>
            to think differently,<br>
           courage to invent, <br>
           to travel the unexplored path, <br>
           courage to discover <br>
           the impossible and to conquer the problems and succeed. <br>
          These are great qualities that they must work towards. <br>
          This is my message to the young people.</h4>
          <h5>~A.P.J. ABDUL KALAM</h5>

        </div>
        </div>

    </div>
    <div style="width: 50%; float:right">
    <h1>Welcome back to your bucketlist!</h1>
    <h2>Log In!</h2>
    <alert-app></alert-app>
      <div class="signin_container">
          <form name="form"  #f="ngForm" (submit)="login()" novalidate>
                <label for email = "email"><b>Email</b></label>
                <input type="text" [(ngModel)]="email"  placeholder="Enter Email" name="email" required>

                <label for password = "password"><b>Password</b></label>
                <input type="password" [(ngModel)]="password"  placeholder="Enter Password" name="psw" minlength="5" required>

                <button type="submit" >Log In</button>
            </form>
          </div>
    </div>

    <!--end of form-->
    

