<nav-app></nav-app>
<div style="width: 100%;">
      <h2>My Items</h2>
      <a routerLink="/additem"><button class="btn btn-primary">Add an Item</button></a>

      <div *ngFor="let item of items">
          <div class="items_container" >
            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-block">
                      <h3 class="card-title">{{item.title}}</h3>
                      <p class="card-text">Date Created: {{item.date_created}}</p>
                       <label><input type="checkbox" name="isDone" [(ngModel)]="item.isDone">Done</label>
                      <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
</div>