<nav-app></nav-app>
  <!--signup form-->
  <div>
  <h2 class="col-lg-12">My bucketlist!!</h2>
  <button routerLink="/addbucketlist" class="btn btn-primary col-lg-12">Add a Bucketlist</button>
  </div>

<div class="row">
  <div *ngFor="let bucketlist of bucketlists">
    <div class="bucketlist_container" >
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">{{bucketlist.title}}</h3>
          <p class="card-text">Date Created: {{bucketlist.date_created}}</p>
          <a (click)="goToEditbucketlist(bucketlist.id)"class="btn btn-primary">Edit</a>
          <a (click)="goToViewItems(bucketlist.id)"class="btn btn-primary">View Items</a>
          <a (click)="goToAddItem(bucketlist.id)" class="btn btn-primary">Add Items</a>
          <a routerLink = "['delete', bucketid]" class="btn btn-primary" (click)="deleteBucketlist(bucketlist)">Delete</a>

        </div>
      </div>
    </div>
    </div>
  </div>
  </div>

    