
body {
  padding-top: 50px;
  margin: 0;
  
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    }
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /*margin-left: 10%;
    margin-right: 10%;*/
    border: none;
    cursor: pointer;
    /*width: 50%;*/
}

button:hover {
    opacity: 0.8;
}

.bucketlist_container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
