
body {
  padding-top: 50px;
  margin: 0;
  
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /*margin-left: 10%;
    margin-right: 10%;*/
    border: none;
    cursor: pointer;
    /*width: 50%;*/
}

button:hover {
    opacity: 0.8;
}

.bucketlist_container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
